<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{if hasmath}} {{insert head_katex.html }}     {{end}}
  {{if hascode}} {{insert head_highlight.html }}   {{end}}
  <link rel="stylesheet" href="/css/judoc.css">
  <link rel="stylesheet" href="/css/jemdoc.css">
  <link rel="icon" href="/assets/infra/favicon.png">
  {{isdef title}} <title>{{fill title}}</title>  {{end}}
</head>
<body>
  <table id="tlayout">
    <tr valign="top">
      <td id="layout-menu">
        <div class="menu-category">Guillaume Berger</div>
        <div class="menu-item"><a href="/index.html" {{ispage index}}class="current"{{end}}>Home</a></div>
        <div class="menu-category">Research</div>
        <div class="menu-item"><a href="/pub/publications.html" {{ispage pub/publications}}class="current"{{end}}>Publications</a></div>
        <div class="menu-item"><a href="/pub/softwares.html" {{ispage pub/softwares}}class="current"{{end}}>Softwares</a></div>
        <div class="menu-item"><a href="/pub/menu3.html" {{ispage pub/menu3}}class="current"{{end}}>Menu 3</a></div>
        <div class="menu-category">Teaching</div>
        <div class="menu-item"><a href="/pub/publications.html" {{ispage pub/publications}}class="current"{{end}}>Courses</a></div>
      </td>
      <td id="layout-content">

<!-- Content appended here -->
